:root {
    --white-color: #fff;
    --black-color: #000;
    --primary-color: #EE4D2D;
    --text-color: #333;
    --border-color: #333;
}

* {
    box-sizing: inherit;
}

html {
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.header__topbar {
    height: 24px;
    background-color: #F3F3F3;
    text-align: center;
    font-size: 14px;
}

.navbar__logo {
    width: 70px;
}

.nav-item {
    padding: 15px;
}

.nav-item.active .nav-link{
    border-bottom: 1px solid var(--border-color);
}

.category__heading {
    text-align: center;
}

.category__item {
    position: relative;
}

.category__item-name {
    color: #fff;
}

.category__item-body {
    padding-left: 10px;
    display: flex;
    height: 15%;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}